<section>
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3864071.052108387!2d77.7859365!3d18.9532087!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2d5697bf46bb23%3A0xb88eecfe7b21b6b1!2sKagaznagar%20(M)%2C%20Telangana%20504296!5e0!3m2!1sen!2sin!4v1615057062531!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>